/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 2.5rem;
  --header-height-mobile: 3rem;
  --font-semi: 600;
  /*===== Colors =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /*===== Font =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margins =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== Radius =====*/
  --border-rad: .5rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 1001;

  /*===== Pure CSS Select =====*/
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url("https://www.svgrepo.com/show/491356/caret-down.svg");
  --option-bg: whitesmoke;
  --select-bg: rgba(255, 255, 255, 0.2);
}

/* <select> styles */
select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  /* Personalize */
  padding: 1rem 4rem 1rem 1rem;
  width: 100%;
  height: 47px;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em;
  border-radius: var(--border-rad);
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 1rem;

  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }

  /* Remove focus outline */
  &:focus {
    outline: none;
  }
}

/* <option> colors */
option {
  color: inherit;
  background-color: var(--option-bg);
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

.fixed {
  position: fixed;
  /* Keep it fixed at the top */
  top: 65px;
  z-index: 1000;
  /* Make sure it stays on top of other content */
  background-color: whitesmoke;
  /* Optional: change to match your design */
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.15rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 1.6rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/* Hide elements until page loaded */
.load-hidden {
  visibility: hidden;
}

/* Hide elements until scroll reveal */
.sr-hidden {
  visibility: hidden;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1280px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: rgb(35, 35, 35);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

.header__flag {
  margin-right: 10px;
  border-radius: 3px;
}

.header__flag:last-child {
  margin-right: 0px;
}

.header__flags {
  display: flex;
  height: 36%;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -150%;
    width: 100%;
    height: 100%;
    margin-top: 0.5rem;
    transition: .5s;
  }

  .nav__menu a {
    margin: 40px;
  }

  .nav__bg {
    background-color: #333;
    box-shadow: 0px 10px 3px 3px rgba(0, 0, 0, 0.2);
    width: 40%;
    height: 100%;
    right: 0;
    position: absolute;
  }

  .nav__list {
    padding-top: 30px;
  }

  .header__flag {
    margin-right: 5px;
    height: 100%;
  }

  .header__flags {
    margin-left: auto;
    margin-right: 6px;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.15rem;
  left: 0;
  top: 1.6rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: white;
}

.nav__toggle {
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
  padding-top: 5px;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.15rem;
  left: 0;
  top: 1.6rem;
  background-color: var(--first-color);
}

/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 2rem;
  padding: 2rem 0 5rem;
  background-color: whitesmoke;
  grid-template-columns: 1fr 1fr;
}

.home__left,
.home__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Center the content vertically if needed */
  align-items: center;
}

.home__subtitle {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: row;
  align-self: start;
  margin-top: 1rem;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
  margin-right: var(--mb-4);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__contact::after {
  display: none;
}

.home__img {
  box-shadow: 0px 2px 7px 2px rgba(14, 36, 49, 0.15);
  border-radius: var(--border-rad);
  object-fit: cover;
  object-position: bottom;
  width: 75% !important;
  height: 85%;
}

/*BUTTONS*/
.button {
  display: inline-block;
  margin: auto;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: var(--border-rad);
  transition: .3s;
}

.button__center {
  display: block;
  margin: auto;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: var(--border-rad);
  transition: .3s;
  width: min-content;
}

@media screen and (max-width: 767px) {
  .button__center {
    margin-bottom: 25px;
  }
}

.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/
.about__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
}

.about__row {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: initial;
  margin: 1rem 6rem;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  border-radius: var(--border-rad);
  box-shadow: 0px 3px 20px rgba(14, 36, 49, 0.15);
  width: 200px;
  object-fit: cover;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.about__text {
  margin-left: 2rem;
  margin-right: 2rem;
}

.about__subtext {
  margin-top: 1rem !important;
}

/* ===== SKILLS =====*/
.skills__text {
  margin-right: 1rem;
  padding: 1rem;
  border-radius: var(--border-rad);
  height: 100%;
  background-color: whitesmoke;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__text:last-of-type {
  margin-right: 0;
}

.skills-wrapper {
  height: 130px;
  overflow: hidden;
  position: relative;
  width: 60%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: auto;

  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.skills-wrapper:before,
.skills-wrapper:after {
  content: "";
  position: absolute;
  height: 130px;
  width: 150px;
  z-index: 2;
}

.skills-wrapper:after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.skills-wrapper:before {
  left: 0;
  top: 0;
}

.skills-wrapper .skills-track {
  display: flex;
  animation: scroll 45s linear infinite;
  will-change: transform;
}

.skills-wrapper .skills-track.reverse {
  animation: scroll-reverse 45s linear infinite;
}

.skills-wrapper .skills-logo {
  width: 180px;
}

.skills-wrapper .skills-logo * {
  height: 50px;
  font-size: 50px;
  color: transparent;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: var(--second-color);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-180px * 10));
  }
}

@keyframes scroll-reverse {
  from {
    transform: translateX(calc(-180px * 10));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes scroll100 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100px * 10));
  }
}

@keyframes scroll-reverse100 {
  from {
    transform: translateX(calc(-100px * 10));
  }
  to {
    transform: translateX(0);
  }
}

/* ===== RESUME =====*/
.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.resume-object {
  display: none;
  aspect-ratio: 1 / 1.33;
}

.resume-linktext {
  display: block;
  text-align: center;
}

/* ===== WORK =====*/
.work__container {
  max-width: 1280px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  height: min-content;
}

.work__item:hover img {
  transform: scale(1.03);
}

.work__itemdiv {
  border-radius: var(--border-rad);
  transition: 0.55s;
}

.work__itemsubdiv {
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 3px 10px 0px 10px;
  transform: none;
}

.work__img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.work__img img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  transition: 0.35s ease;
  overflow: hidden;
  border-radius: var(--border-rad);
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
  aspect-ratio: 16/9;
}

.work__middle {
  transition: 0.35s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  pointer-events: none;
  border-radius: var(--border-rad);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.work__title {
  font-weight: 600;
  font-size: large;
}

.work__date {
  font-size: large;
}

.work__middletext {
  padding: 24px;
  font-size: medium;
}

.work__item:hover .work__middle {
  transform: scale(1.03);
  opacity: 1;
}

/* Initial hidden state for hidden portfolio items */
.portfolio-hidden {
  max-height: 0;
  position: absolute;
  overflow: hidden;
}

/* State when portfolio items are expanded */
.portfolio-expanded {
  position: relative;
  max-height: 225px; /* Set to a value large enough to fit the content */
  transition: max-height 0.3s ease;
}

.expand-container {
  text-align: center;
  margin-top: 2rem;
}

.expand-count {
  text-align: right;
  font-style: italic;
}

#expand-button {
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: var(--border-rad);
  cursor: pointer;
  transition: .3s;
  border: 0px;
}

#expand-button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}


/* Categories */

.category-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* Center the content vertically if needed */
  align-items: center;
  gap: 30px;
  margin: 0px 1rem 1rem 1rem;
  text-wrap: nowrap;
}

.category-button {
  padding: 10px 20px;
  width: 150px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  /* Light gray, adjust as needed */
  transition: background-color 0.3s ease;
  border-radius: var(--border-rad);
  color: black;
  font-size: 14px;
}

.category-button.active {
  background-color: whitesmoke;
}

.category-button.active::after {
  top: 2rem;
}

.category-button:hover {
  background-color: whitesmoke;
}

.category-select {
  display: none;
  flex-wrap: wrap;
  gap: 10px;
  /* Adjust as necessary for spacing */
  justify-content: center;
  /* Center the buttons container */
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: var(--border-rad);
  width: 93.5%;
}

/* ===== TIMELINE =====*/
.c-scrolling-item {
  flex: none;
  width: 20%;
}

.c-scrolling-line {
  align-items: center;
  display: flex;
}

.c-scrolling-details {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.scroll-indicator {
  background-color: #717dff;
  border: 2px solid #ccc;
  width: 45px;
  height: 45px;
}

.scroll-indicator.icon {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  object-fit: contain;
}

.scroll-line {
  background-color: #ccc;
  width: 100%;
  height: 3px;
}

.scroll-line.last {
  display: none;
}

.scroll-item-header {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
  line-height: 1.4em;
}

.scroll-details {
  margin-bottom: 0;
  font-size: medium;
}

.timeline-header {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.timeline-header::after {
  right: auto;
  width: 92px;
}

.c-scroll-track {
  flex: 1;
  width: 85vw;
  display: flex;
}

.section.expand {
  height: 10vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.timeline-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
}

.timeline-container.sticky {
  max-width: none;
  margin-bottom: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 30%;
  overflow: hidden;
}

.timeline-container.top-border {
  border-top: 1px dashed rgba(19, 19, 19, .25);
  display: block;
}

.c-details {
  margin-bottom: 40px;
}

/* ===== CONTACT =====*/
.contact {
  margin-bottom: 80px;
}

.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: var(--border-rad);
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
  position: absolute;
  width: 100%;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 600px) {
  .nav {
    height: var(--header-height-mobile);
  }

  .home {
    padding: 2rem 1rem 0rem;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .home__left {
    align-items: start;
  }

  .home__right {
    order: -1;
    align-items: start;
    height: min-content;
  }

  .home__img {
    margin-right: 0;
    width: 100% !important;
    height: 42vh;
    object-position: center;
  }

  .home__subtitle {
    width: 100%;
    margin-bottom: 1rem;
  }

  .home__title__break {
    display: none;
  }

  .home__contact {
    display: none;
  }

  .category-buttons {
    gap: 8px;
    padding-bottom: 0.5rem;
  }

  .category-button {
    width: min-content;
    padding: 10px;
    margin: 0rem 0rem 0rem 0rem;
    font-size: 12px;
  }

  .timeline-container.sticky {
    position: static;
    margin-left: 4vw;
  }

  .c-scroll-track {
    display: block;
    /* Switch to block layout for vertical alignment */
  }

  .c-scrolling-item {
    width: 100%;
    /* Make each timeline item take full width */
    margin-bottom: 20px;
    /* Add some space between items */
    display: flex;
    /* Align items flexibly */
  }

  .c-scrolling-line {
    flex-direction: column;
    /* Align items vertically */
    align-items: center;
    /* Center items horizontally */
    margin-right: 10px;
    /* Add some space to the right */
    display: flex;
    /* Ensure children are aligned flexibly */
    flex-shrink: 0;
  }

  .scroll-line {
    width: 3px;
    /* Make the line vertical */
    height: 100%;
    /* Set a fixed height */
    flex-grow: 1;
    /* Allow the line to grow and fill the container */
  }

  .scroll-indicator {
    margin-bottom: 10px;
    /* Space between the icon and line */
    width: 40px;
    height: 40px;
  }

  .scroll-item-header {
    font-size: 1.2rem;
  }

  .scroll-details {
    font-size: 1rem;
  }

  .c-scrolling-details {
    padding-left: 20px;
    /* Add padding to the left */
    text-align: left;
    /* Align text to the left */
    padding-top: 0px;
  }

  .c-scrolling-item:last-child .c-scrolling-details {
    padding-bottom: 0px;
    /* Set padding-bottom to 0px if the parent is the last child */
  }

  .scroll-item-header {
    margin-top: 0;
    margin-bottom: 5px;
    /* Space between header and details */
  }

  .work {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
  }

  .work__title {
    font-size: 14px;
  }

  .work__date {
    font-size: 14px;
  }

  .work__middletext {
    padding: 10px;
    font-size: 13px;
  }

  .home__title {
    font-size: 7.23vw;
  }

  .home__subtitle {
    font-size: 3vw;
    font-weight: 600;
  }

  .expand-count {
    font-size: small;
  }

  .expand-container {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .category-buttons {
    gap: 4px;
  }

  .category-button {
    padding: 8px 6px 8px 6px;
    margin: 0rem 0rem 0rem 0rem;
  }

  .home__title {
    font-size: 7vw;
  }

  .home__subtitle {
    font-size: 3.1vw;
    font-weight: 600;
  }

  .work__title {
    font-size: 12px;
  }

  .work__date {
    font-size: 12px;
  }
}

@media screen and (min-width: 600px) {
  .home {
    padding: 3rem 2rem 2rem;
  }

  .skills__container {
    grid-template-columns: .7fr;
    justify-content: center;
    column-gap: 1rem;
  }

  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }

  .contact__container {
    justify-items: center;
  }
}

@media screen and (max-width: 768px){
  .about__img {
    display: none;
  }

  .about__row {
    text-align: center;
    margin: 0rem 1rem 1rem;
    flex-direction: column;
  }

  .about__text {
    margin: 0;
  }

  .about__title {
    margin-bottom: 0rem;
  }

  .skills-wrapper {
    width: 80%;
  }

  .skills-wrapper .skills-track {
    animation: scroll100 40s linear infinite;
  }
  
  .skills-wrapper .skills-track.reverse {
    animation: scroll-reverse100 40s linear infinite;
  }
  
  .skills-wrapper .skills-logo {
    width: 100px;
  }
  
  .skills-wrapper .skills-logo * {
    height: 40px;
    font-size: 40px;
  }

  .skills__text {
    margin-right: 0;
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 100%;
  }

  .work__container {
    row-gap: 0.7rem;
    column-gap: 0.7rem;
    padding-top: 0.2rem;
  }

  .work__itemsubdiv {
    flex-direction: column;
    padding: 0.4rem 0 0 0;
  }

  .work__date {
    display: none;
  }

  .work__title {
    text-align: center;
    font-size: small;
  }

  .work__middletext {
    font-size: 8px;
    padding: 10px 10px;
  }
}

@media screen and (min-width: 768px) {
  .home {
    padding: 4rem 2rem 2rem;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section-title {
    margin-bottom: var(--mb-6);
  }

  .section-title::after {
    width: 80px;
    top: 2rem;
  }

  .timeline-header::after {
    width: 95px;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
    padding-top: 0;
  }

  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .nav__link {
    color: white;
  }

  .about__container {
    margin: 2rem 0;
  }

  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }

  .resume-object {
    display: flex;
  }

  .resume-linktext {
    display: none;
  }

  .skills__text {
    text-align: initial;
  }

  .work__container {
    column-gap: 2rem;
    padding-top: 2rem;
  }
}

@media screen and (min-width: 968px) {
  .section-title::after {
    width: 110px;
    top: 3rem;
  }

  .timeline-header::after {
    width: 143px;
  }
}

@media screen and (min-width: 1280px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home {
    padding: 4rem 0 2rem;
  }

  .home__right {
    align-items: end;
  }

  .home__data {
    align-self: start;
  }

  .work__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .c-scroll-track {
    width: 74vw;
  }

  .resume-object {
    width: 50%;
  }
}

.nav__home {
  background-color: #4473ebe6;
  border-radius: var(--border-rad);
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  display: none;
  font-size: small;
}

.menu {
  position: fixed;
  width: 320px;
  height: 100%;
  margin-bottom: 100px;
  top: var(--header-height);
  position: fixed;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1000;
}

.menu__bg {
  background-color: #333;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
}

.menu__outdiv {
  flex: 1;
  width: 20%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  height: 100%;
}

/*=== PORTFOLIO PAGE ===*/
.content {
  padding: 20px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 14px;
  text-align: center;
  font-size: medium;
}

.menu a {
  text-decoration: none;
  color: white;
  display: block;
  border-radius: var(--border-rad);
  padding: 8px;
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
  text-align: left;
  box-shadow: inset 0 0 0 0 "transparent";
}

.menu a.active {
  box-shadow: inset 300px 0 0 0 #4473ebe6;
  transition: 0.3s ease;
}

.menu a.active::after {
  display: none;
}

.menu i {
  padding-right: 6px;
}

@media screen and (max-width: 767px) {
  .menu {
    right: -120%;
    width: 100%;
  }

  .nav__home {
    display: block;
  }

  .menu__outdiv {
    display: block;
  }

  .menu__bg {
    right: 0;
    left: auto;
    width: 80%;
  }

  .menu a.active {
    box-shadow: inset 80vw 0 0 0 #4473ebe6;
  }
}

@media screen and (min-width: 767px) {
  .content {
    margin-left: 320px;
  }
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*=== PROJECT PAGE ===*/
.project {
  position: relative;
  row-gap: 2rem;
  padding: 5rem 0 5rem;
}

.proj__div {
  height: auto;
  display: flex;
  justify-content: space-between;
}

.proj__img {
  flex: 1;
  background-size: cover;
  background-position: center;
  border-radius: var(--border-rad);
}

.proj__title {
  color: var(--first-color);
  font-size: 6vw;
  padding-top: 10px
}

.proj__date {
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 2.5vw;
}

.proj__subtitle {
  margin-bottom: var(--mb-2);
  margin-top: 0;
  font-size: 2vw;
}

.proj__desc {
  padding-top: 30px;
}

.proj__social {
  display: flex;
  flex-direction: row;
}

.proj__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
  padding-right: 10px;
}

.proj__social-icon:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .proj__img {
    width: 100%;
    height: 120px;
  }

  .proj__div {
    display: block;
  }

  .proj__title {
    font-size: 12vw;
  }

  .proj__date {
    font-size: 5vw;
  }

  .proj__subtitle {
    font-size: 4vw;
  }

  .project {
    padding: 3rem 0 5rem;
  }
}

@media screen and (min-width: 992px) {
  .proj__title {
    font-size: 60px;
  }

  .proj__date {
    font-size: 25px;
  }

  .proj__subtitle {
    font-size: 20px;
  }

  .proj__desc {
    padding-top: 50px;
  }

  .project {
    padding: 10rem 0 5rem;
  }
}